
<div id="goles" class="collapse row">
    <div colspan="8" class="col-md-8 mt-4 text-center">
        <table id="goles-table" name="goles-table" class="table table-sm table-striped">
            <tr>
                <th>Equipo</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Minuto</th>
                <th></th>
            </tr>
            <tr ng-repeat="gol in goles | orderBy:'minuto'" id="gol-{{gol.goles_id}}">
                <td class="align-middle">{{gol.equipos_nombre}}</td>
                <td class="align-middle">{{gol.jugadores_matricula }}</td>
                <td class="align-middle">{{gol.nombre }}</td>
                <td class="align-middle">{{gol.minuto}}'</td>
                <td >
                    <button ng-click="removerGol(gol.goles_id)" class="btn btn-link ">
                        Remover
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div colspan="4" class="col-md-4 mt-4 card">
        <div class="card-body">
            <h3 class="card-title">Agregar gol</h3>
            <div class="form-group">
                <label for="gol-jugador">Jugador:</label>
                <select
                        ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_local.concat(plantel_visita) | filter:jugoEnPartido"
                        ng-model="golJugador" name="gol-jugador" class="form-control" id="gol-jugador">

                </select>
            </div>
            <div class="form-group">
                <label for="minuto-gol">Minuto:</label>
                <input ng-init="minutoGol=0" ng-model="minutoGol" class="form-control" type="number" id="minuto-gol"
                       min="0" name="minuto-gol" />

            </div>
            <button ng-click="agregarGol()" id="submit-gol" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>
