<div id="local" class="tab-pane fade show active" role="tabpanel">
    <div class="row text-center">
        <div class="col-sm-4">
            <label class="bottom-label" for="titulares-local">Titulares:</label>
            <select ng-init="titulares_elegidos_local=[]"
                    ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_local | filter:esTitularLocal"
                    ng-model="titulares_elegidos_local" multiple class="form-control" id="titulares-local">
            </select>
            <button ng-click="mover_titular_a_plantel_local()" class="btn btn-basic">></button>
        </div>
        <div class="col-sm-4">

            <label for="plantel-local">Plantel:</label>
            <select ng-init="plantel_elegidos_local=[]"
                    ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_local | filter:noConvocadoLocal"
                    ng-model="plantel_elegidos_local" multiple class="form-control" id="plantel-local">
            </select>
            <button ng-click="mover_a_titulares_local()" class="btn btn-default" ><</button>
            <button ng-click="mover_a_suplentes_local()" class="btn btn-default">></button>
        </div>
        <div class="col-sm-4">

            <label for="reserva-local">Reserva:</label>
            <select ng-init="suplentes_elegidos_local=[]"
                    ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_local | filter:esSuplenteLocal"
                    ng-model="suplentes_elegidos_local"  multiple class="form-control" id="reserva-local">

            </select>
            <button ng-click="mover_suplente_a_plantel_local()" class="btn btn-default"><</button>
        </div>
    </div>
    <div class="form-group">
        <button ng-click="guardar_local()" class="btn btn-primary">Guardar</button>
    </div>
</div>
