<div id="sustituciones" class="tab-pane fade" role="tabpanel">
    <div class="row">
    <div colspan="8" class="col-md-8 mt-4 text-center">
        <table class="table table-bordered table-striped table-sm">
            <tr >
                <th>Equipo</th>
                <th>Minuto</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th></th>
            </tr>
            <tr ng-repeat-start="sustitucion in sustituciones">
                <td class="align-middle" rowspan="2">{{sustitucion.equipos_nombre }}</td>
                <td class="align-middle" rowspan="2">{{sustitucion.minuto }}'</td>
                <td class="bg-success">{{sustitucion.entra_jugadores_matricula }}</td>
                <td class="bg-success">{{sustitucion.entra_jugadores_nombre }}</td>
                <td class="align-middle" rowspan="2" >
                    <button ng-click="removerSustitucion(sustitucion.sustituciones_id)" class="btn btn-link"">
                        Remover
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end class="bg-danger">
                <td>{{ sustitucion.sale_jugadores_matricula }}</td>
                <td>{{ sustitucion.sale_jugadores_nombre }}</td>
            </tr>

        </table>
    </div>
    <div colspan="4" class="col-md-4 mt-4 card">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-subs-local-tab" data-toggle="tab" href="#nav-subs-local" role="tab" aria-controls="nav-subs-local" aria-selected="true"><%= partido.local_nombre%></a>
                <a class="nav-item nav-link" id="nav-subs-visita-tab" data-toggle="tab" href="#nav-subs-visita" role="tab" aria-controls="nav-subs-visita" aria-selected="false"><%= partido.visita_nombre%></a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <!-- Local -->
            <div class="tab-pane show form-group active" id="nav-subs-local" role="tabpanel" aria-labelledby="nav-subs-local-tab">
                <div class="form-group">
                    <label for="local-entra">Entra:</label>
                    <select
                            ng-model="jugador_entra_local"
                            ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_local | filter:esSuplenteLocal"
                            name="local-entra" class="form-control" id="local-entra">

                    </select>
                </div>

                <div class="form-group">
                    <label for="local-sale">Sale:</label>
                    <select
                            ng-model="jugador_sale_local"
                            ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_local | filter:'!' + noConvocadoLocal"
                            name="local-sale" class="form-control" id="local-sale">

                    </select>
                </div>

                <div class="form-group">
                    <label for="cambio-local-minuto">Minuto:</label>
                    <input ng-model="sustitucion_minuto_local" class="form-control" type="number" id="cambio-local-minuto"
                           min="0" name="cambio-local-minuto" />

                </div>
                <button ng-click="agregarSustitucion(jugador_entra_local, jugador_sale_local, sustitucion_minuto_local)"
                        class="btn btn-primary">Agregar</button>
            </div>

            <!-- visita -->
            <div class="tab-pane  form-group" id="nav-subs-visita" role="tabpanel" aria-labelledby="nav-subs-visita-tab">
                <div class="form-group">
                    <label for="local-entra">Entra:</label>
                    <select
                            ng-model="jugador_entra_visita"
                            ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_visita | filter:esSuplenteLocal"
                            name="local-entra" class="form-control" id="local-entra">

                    </select>
                </div>

                <div class="form-group">
                    <label for="visita-sale">Sale:</label>
                    <select
                            ng-model="jugador_sale_visita"
                            ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre for jugador in plantel_visita | filter:'!' + noConvocadoLocal"
                            name="visita-sale" class="form-control" id="visita-sale">
                    </select>
                </div>

                <div class="form-group">
                    <label for="cambio-visita-minuto">Minuto:</label>
                    <input ng-model="sustitucion_minuto_visita" class="form-control" type="number" id="cambio-visita-minuto"
                           min="0" name="cambio-visita-minuto" />

                </div>
                <button ng-click="agregarSustitucion(jugador_entra_visita, jugador_sale_visita, sustitucion_minuto_visita)"
                        class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
    </div>
</div>
