<div id="tarjetas" class="collapse row">
    <div colspan="8" class="col-md-8 mt-4 text-center">
        <table class="table table-striped ">
            <tr>
                <th>Equipo</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Tarjeta</th>
                <th>Minuto</th>
                <th></th>
            </tr>
            <tr ng-repeat="tarjeta in tarjetas  | orderBy:'minuto'">
                <td>{{tarjeta.equipos_nombre }}</td>
                <td>{{tarjeta.jugadores_matricula }}</td>
                <td>{{tarjeta.nombre }}</td>
                <td>{{tarjeta.tarjetas_id === 1 ? "Amarilla" : "Roja"}}</td>
                <td>{{tarjeta.minuto}}'</td>
                <td class="align-middle">
                    <button ng-click="removerTarjeta(tarjeta.sanciones_id)" class="btn btn-link" >
                        Remover
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div colspan="4" class="col-md-4 mt-4 card">
        <div class="card-body">
            <h3 class="card-title">Agregar tarjeta</h3>
            <div class="form-group">
                <label for="tarjeta-jugador">Jugador:</label>
                <select name="tarjeta-jugador" class="form-control"
                        ng-model="jugador_tarjeta"
                        ng-options="jugador.jugadores_matricula + ' - ' + jugador.nombre group by jugador.equipos_nombre for jugador in plantel_local.concat(plantel_visita) | filter:jugoEnPartido"
                        id="tarjeta-jugador">
                </select>
            </div>
            <div class="form-group">
                <label for="tipo-tarjeta">Tipo de tarjeta:</label>
                <select ng-model="tipo_tarjeta" name="tipo-tarjeta" class="form-control" id="tipo-tarjeta">
                    <option>Amarilla</option>
                    <option>Roja</option>
                </select>
            </div>
            <div class="form-group">
                <label for="minuto-tarjeta">Minuto:</label>
                <input ng-model="minuto_tarjeta" class="form-control" type="number" id="minuto-tarjeta"
                       name="minuto-tarjeta"  />
            </div>
            <div class="form-group">
                <label for="duracion-tarjeta">Numero de fechas (duracion):</label>
                <input ng-model="duracion_tarjeta" class="form-control" type="number" id="duracion-tarjeta"
                       name="duracion-tarjeta" val="1"/>
            </div>

            <button ng-click="agregarTarjeta()" id="submit-tarjeta" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>
